//Primary

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lightgray: hsl(0, 0%, 95%);
$darkgray: hsl(0, 0%, 55%);
$verydarkgray: hsl(0, 0%, 41%);


//Font sizes
    $body: 15px;
    $h1: 72px;
    //Small screens
    $h1small: 40px